<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="row g-5 align-items-center">
                <h1 class="mb-3">Contact With Our Certified Agent</h1>
                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white rounded p-4" >
                        <div class="row g-6">
                            <div class="col-md-4">
                                <img class="img-fluid rounded w-100" src="assets/img/massage11.jpeg">
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid rounded w-100" src="assets/img/massage12.jpeg">
                            </div>
                            <div class="col-md-4">
                                <img class="img-fluid rounded w-100" src="assets/img/massage13.jpeg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="mb-4">
                        <h1>Massage Suédois</h1>
                        <h3>Prix : 60€</h3>
                        <p>
                            Le massage suédois est une technique de massage classique qui utilise des mouvements longs et fluides pour détendre les muscles et améliorer la circulation sanguine. Il combine plusieurs techniques comme l'effleurage, le pétrissage, la friction, le tapotement et la vibration. Ce massage procure de nombreux bienfaits, notamment la réduction du stress et de l'anxiété, l'amélioration de la circulation sanguine, le soulagement des douleurs musculaires, l'augmentation de la flexibilité et l'élimination des toxines. Une séance typique dure environ 60 minutes et se déroule dans une ambiance calme et relaxante, avec la possibilité d'adapter la pression et les techniques aux besoins individuels. Toutefois, certaines conditions médicales et la grossesse nécessitent une consultation préalable. Le massage suédois est idéal pour ceux qui cherchent à se détendre profondément tout en bénéficiant d'un soin thérapeutique.</p>

                    </div>
                </div>
              <app-reservation-formulaire></app-reservation-formulaire>
            </div>
        </div>
    </div>
</div>
