<div class="container">
    <h1 class="form-title">Ajouter un Service</h1>
        <form class="styled-form" (submit)="ajoutermassage()">
        <div class="form-group">
            <label for="service">Service :</label>
            <select id="service" name="service" [(ngModel)]="services" required>
                <option value="" disabled selected>Choisissez un service</option>
                <option value="chauffeur">Chauffeur</option>
                <option value="massage">Massage</option>
                <option value="chef">Chef</option>
            </select>
        </div>
      <div class="form-group">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" [(ngModel)]="titre"  placeholder="Entrez le titre" required>
      </div>
      <div class="form-group">
        <label for="description">Description :</label>
        <input type="text" id="description" name="description" [(ngModel)]="description" placeholder="Entrez la description" required>
      </div>
      <div class="form-group">
        <label for="prix">Prix :</label>
        <input type="text" id="prix" name="prix" [(ngModel)]="prix"placeholder="Entrez le prix" required>
      </div>
      <div class="form-group">
        <label for="uploadFile">Télécharger une image:</label>
        <input type="file"  accept=".pdf, .doc, .docx, image/*">
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn-submit">Valider</button>
        <button [routerLink]="'/liste-service'" type="button" class="btn-cancel">Annuler</button>
      </div>
    </form>
  </div>
  