<div class="details-page">
    <div class="container">
        <div class="details-content">
            <h2 class="details-title">Détails de paiement</h2>
            <div class="order-details">
                <div class="detail-row">
                    <strong>Order ID:</strong> 3625585
                </div>
                <div class="detail-row">
                    <strong>Client Email:</strong> saidi iheb
                </div>
                <div class="detail-row">
                    <strong>Nom du Client:</strong> Iheb
                </div>
                <div class="detail-row">
                    <strong>Téléphone du client:</strong>  +33 06 12 34 56 78
                </div>
                <div class="detail-row">
                    <strong>Address du client:</strong> 12 Rue des Fleurs, 75008 Paris, France.
                </div>
                <div class="detail-row">
                    <strong>Nom du Service:</strong> Massage aux Pierres Chaudes
                </div>
                <div class="detail-row">
                    <strong>Date de réservation</strong> 20-05-2024
                </div>
                  <div class="detail-row">
                    <strong>Coût Total:</strong> 80€
                </div>
                <div class="detail-row">
                    <strong>Mode de Paiement:</strong> Carte de crédit
                </div>
                <div class="detail-row">
                    <strong>Statut:</strong> <span class="badge badge-success">Completed</span>
                </div>
                <div class="detail-row">
                    <strong>Stripe Transaction ID:</strong> 15418166846
                </div>
              
                <div class="detail-actions">
                    <a routerLink='/paiment' ><i class="fas fa-reply"></i> Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>