 <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
    
    
    <a routerLink='/accueil' class="list-group-item list-group-item-action py-2 ripple">
    <i class="fas fa-home fa-fw me-3"></i><span>Home</span></a> 

    <a routerLink='/reservation' class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-calendar-plus-o fa-fw me-3"></i><span>mes reservation </span></a>
  
    <a routerLink="/Reclamtion" class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-exclamation-circle fa-fw me-3"></i><span>mes Reclamtion </span></a>

    <a routerLink="/commentaires"class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-comment fa-fw me-3"></i><span>Mes commentaires</span></a>

    <a routerLink="/commentaires"class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa fa-comment fa-fw me-3"></i><span>les commentaires</span></a>
   <!-- 
    <a routerLink="/approuver"class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa fa-thumbs-up fa-fw me-3"></i><span>Approuver les service </span></a>
-->

    <a routerLink="/paiment" class="list-group-item list-group-item-action py-2 ripple">
    <i class="fas fa-money-bill fa-fw me-3"></i><span>paiment </span></a>

    <a routerLink="/Reclamtion" class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-exclamation-circle fa-fw me-3"></i><span>Les Reclamtions </span></a>

    <a routerLink="/ajouter-service" class="list-group-item list-group-item-action py-2 ripple small-text">
    <i class="fa fa-plus-circle fa-fw me-3"></i><span>Ajouter des services</span></a>

    <a routerLink="/liste-service" class="list-group-item list-group-item-action py-2 ripple small-texts">
    <i class="fa fa-list fa-fw me-3"></i><span>Consulter les service</span></a>
<!--
    <a routerLink="/utilisateur" class="list-group-item list-group-item-action py-2 ripple small-texts">
    <i class="fa fa-user fa-fw me-3"></i><span>Utilisateur</span></a> 

    <a routerLink="/vente" class="list-group-item list-group-item-action py-2 ripple small-texts">
    <i class="fa fa-credit-card fa-fw me-3"></i><span>Vente</span></a>
-->

    <a routerLink="/Parametre" class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-cog fa-fw me-3"></i><span>paramètre</span></a>

    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
    <i class="fa fa-sign-out fa-fw me-3"></i><span>logout</span></a>

</div>
</div>
</nav>