<div class="dashboard-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-box">
                    <div class="form-title-wrap">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="font-size-16">Liste des paiements </h3>
                            </div>
                            <div class="select-contain">
                                <select class="select-contain-select">
                                    <option value="1">Any Time</option>
                                    <option value="2">Les plus récents</option>
                                    <option value="3">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                   <div class="form-content">
                       <div class="table-form table-responsive">
                           <table class="table">
                               <thead>
                               <tr>
                                   <th scope="col">client Email</th>
                                   <th scope="col">Nom du client</th>
                                   <th scope="col">Nom du Service </th>
                                   <th scope="col">Coût total</th>
                                   <th scope="col">Mode de paiement</th>
                                   <th scope="col">Statut</th>
                                   <th scope="col">Action</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                                   <th scope="row">ihebsaidi&#64;gmail.com</th>
                                   <td>
                                       <div class="table-content">
                                           <h3 class="title">Saidi iheb</h3>
                                       </div>
                                   </td>
                                   <td>Massage aux Pierres Chaudes</td>
                                   <td>80€</td>
                                   <td>Carte de crédit	</td>
                                   <td><span class="badge badge-success py-1 px-2">Completed</span></td>
                                   <td>
                                       <div class="table-content">
                                        <i  class="fas fa-edit"></i>
                                        <i routerLink="/order-detail" class="fas fa-eye "></i> 
                                       </div>
                                   </td>
                               </tr>
                               
                               
                              
                               </tbody>
                           </table>
                       </div>
                   </div>
                </div>
            </div>
        </div>
