<div class="container">  
   <div class="page-title">
        <h1>Liste des Services Approuvés</h1>
        <div class="booking-card">
            <div class="image-container">
                <img src="assets/img/about.jpg" alt="Image de service">
            </div>
            <div class="booking-details">
                
                <h2>Maison d'Hôte Le Reflet d'Azur <span class="status pending">En attente</span></h2>
                <p><strong>Détails du service:</strong> Découvrez Le Reflet d'Azur, une charmante maison d'hôte nichée au cœur de la belle ville de Menton, surnommée la Perle de la France. Idéalement située entre mer et montagnes, notre maison d'hôte offre une escapade paisible et relaxante, tout en étant à proximité des attractions locales et des plages de la Côte d'Azur.</p>
                <p><strong>Client:</strong> Saidi iheb </p>
                <p><strong>Prix:</strong>150€/Nuit </p>
                <div class="action-buttons">
                    <button class="approve-btn"><i class="fas fa-check"></i> Approuver</button>
                    <button class="cancel-btn"><i class="fas fa-times"></i> Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>