<div class="dashboard-main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-box">
                    <div class="form-title-wrap">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <h3 class="font-size-16">Liste de reservation</h3>
                            </div>
                            <div class="select-contain">
                                <select class="select-contain-select">
                                    <option value="1">Any Time</option>
                                    <option value="2">Latest</option>
                                    <option value="3">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                   <div class="form-content">
                       <div class="table-form table-responsive">
                           <table class="table">
                               <thead>
                               <tr>
                                   <th scope="col">Service</th>
                                   <th scope="col">Nom du Hote</th>
                                   <th scope="col">Date de reservation </th>
                                   <th scope="col">Coût total</th>
                                   <th scope="col">Mode de paiement</th>
                                   <th scope="col">comntaire </th>
                                   <th scope="col"></th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr>
                                   <th scope="row">Massage</th>
                                   <td>
                                       <div class="table-content">
                                           <h3 class="title">Iheb</h3>
                                       </div>
                                   </td>
                                   <td>Massage Suédois</td>
                                   <td>60€</td>
                                   <td>Carte de crédit</td>
                                   <td><span class="badge badge-success py-1 px-2">Completed</span></td>
                                   <td>
                                       <div class="table-content">
                                        <i routerLink="/order-detail" class="fas fa-eye "></i> 
                                       </div>
                                   </td>
                               </tr>
                               
                               
                              
                               </tbody>
                           </table>
                       </div>
                   </div>
                </div>
            </div>
        </div>
