<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Nos chef</h1>
                    <p>Transformez vos repas quotidiens et vos événements spéciaux en expériences culinaires mémorables avec notre service de chef à domicile. Que ce soit pour un dîner intime, une fête entre amis ou une occasion spéciale, notre chef professionnel se déplace chez vous pour préparer des plats exquis selon vos goûts et vos préférences</p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let chef of chefs" >
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a [routerLink]="'/Reservation_chef'"><img class="img-fluid" src="assets/img/che206.jpeg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Réserver </div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3" >
                                    <a  class="text-decoration-none text-primary" (click)="addToCart(chef)"  >
                                        Ajouter au panier <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{chef.titre}}</h5>
                                <a class="d-block h5 mb-2">{{chef.prix}}</a>
                                <a class=" mb-2 text-decoration-none" data-bs-toggle="collapse" href="#collapseDescription1" role="button" aria-expanded="false" aria-controls="collapseDescription">
                                    <p class="mb-0"><i class="alt text-primary me-2"></i>Description <i class="fas fa-info-circle"></i></p>
                                </a>
                                <div class="collapse" id="collapseDescription1">
                                    <p>{{chef.description}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                                  
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" routerLink="/">Browse More Property</a>
                    </div>
                </div>
        </div>
    </div>
</div>