<!-- src/app/components/cart/cart.component.html -->
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Liste des services</h5>
          </div>
          <div class="card-body" *ngFor="let item of cart">
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <img src="assets/img/massage.jpg" class="w-100" alt="Massage" />
                </div>
              </div>
              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <p><strong>{{ item.titre }}</strong></p>
                <p>{{ item.description }}</p>
                <button type="button" class="btn btn-primary btn-sm me-1 mb-2" (click)="removeFromCart(item)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <p class="text-start text-md-center">
                  <strong>{{ item.prix }}</strong>
                </p>
              </div>
            </div>
            <hr class="my-4" />
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Montant à payer</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                les produits
                <span>{{ getTotalPrice() }}€</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Montant total</strong>
                  <strong>
                    <p class="mb-0">(compris la TVA)</p>
                  </strong>
                </div>
                <span><strong>{{ getTotalPriceWithTax() }}€</strong></span>
              </li>
            </ul>
            <button routerLink="/Paiement" type="button" class="btn btn-primary btn-lg btn-block">
              Go to checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
